select, button, li, .tile, .space, .tile-near-space {
    font-family: Rockwell;
    font-size: 32px;
    margin-top: 2%;
}

ul, li {
    display: inline;
    margin-right: 3px;
    padding: 5px;
    color: #34495E;
}

li:hover {
    background-color: #eee;
    border-radius: 5px;
}

.li-selected, .li-selected:hover {
    background-color: #ccc;
    border-radius: 5px;
}

button {
    margin-left: 10px;
    margin-right: 5px;
    background-color: #fff;
    color: #34495E;
    border: 5px solid #00B16A;
    border-radius: 5px;
}

button:hover {
    background-color: #eff;
    cursor: pointer;
}

.tile, .space, .tile-near-space {
    font-size: 80px;
    height: 100px;
    width: 100px;
    margin: 1px;
}

.row {
    display: inline-block;
}

.tile, .tile-near-space {
    border: 5px solid #34495E;
    border-radius: 5px;
}

.field, li, ul {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row:nth-of-type(odd)>.tile:nth-of-type(even),
.row:nth-of-type(even)>.tile:nth-of-type(odd) {
    background-color: #96281B;
    color: #FDE3A7;
}
.row:nth-of-type(odd)>.tile:nth-of-type(odd),
.row:nth-of-type(even)>.tile:nth-of-type(even) {
    background-color: #FDE3A7;
    color: #96281B;
}

.row:nth-of-type(odd)>.tile:nth-of-type(even):hover,
.row:nth-of-type(even)>.tile:nth-of-type(odd):hover,
.row:nth-of-type(even)>.tile:nth-of-type(even):hover,
.row:nth-of-type(odd)>.tile:nth-of-type(odd):hover {
    background-color: #34495E;
    color: #fff;
}

.field, .space {
    background-color: #fff;
    color: #fff;
    padding: 5px;
}

.tile-near-space, .tile-near-space>label, li {
    cursor: pointer;
}

ul {
    cursor: default;
}

.tile-near-space:hover {
    background-color: #00B16A;
}