select, button, .tile, .space {
    font-family: Rockwell;
    font-size: 32px;
    margin-top: 3%;
}

.tile, .space {
    font-size: 80px;
    height: 100px;
    width: 100px;
    margin: 1px;
}

.row {
    display: inline-block;
}

.tile {
    border: 5px solid #34495E;
    border-radius: 5px;
}

.tile, .tile>label {
    cursor: pointer;
}

.table {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row:nth-of-type(odd)>.tile:nth-of-type(even),
.row:nth-of-type(even)>.tile:nth-of-type(odd) {
    background-color: #96281B;
    color: #FDE3A7;
}
.row:nth-of-type(odd)>.tile:nth-of-type(odd),
.row:nth-of-type(even)>.tile:nth-of-type(even) {
    background-color: #FDE3A7;
    color: #96281B;
}

.row:nth-of-type(odd)>.tile:nth-of-type(even):hover,
.row:nth-of-type(even)>.tile:nth-of-type(odd):hover,
.row:nth-of-type(even)>.tile:nth-of-type(even):hover,
.row:nth-of-type(odd)>.tile:nth-of-type(odd):hover {
    background-color: #34495E;
    color: #fff;
}

.table, .space {
    background-color: #fff;
    color: #fff;
    padding: 5px;
}